# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
.mvn/wrapper/maven-wrapper.jar

# Default development path
development/

# dependencies
node_modules/
.pnp
.pnp.js
